/*timer placement and color*/
.right #timer {
    float: right;
    color: darkblue;  
}

/*view high scores button placement and color*/
.left #viewHighScores h4 {
    float: left;
    color: rgb(190, 85, 190);
    margin-top: 0;
}

#nav {
    text-align: center;
    line-height: initial;
    align-items: center;
    height: inherit;
    background-color: red;
}

/*main page section*/
body {
    background-color: #e7dfe1;
    font-family: Arial, Helvetica, sans-serif;
}

/*centering and aligning the quiz*/
#content {
    text-align: center;
    margin-left: 150px;
    padding: 8%;
}

.startButton{
    align-items: center;
    margin: auto;
    display: flex;
}

#htmlNew {
    text-align: left;
} 

h1 {
    text-align: center;
}

.openP {
    text-align: center;
}

#answerBottom {
    font-style: italic;
    text-align: left;
    font-size: 25px;
    color: grey;
}

h2 {
    text-align: left;
}

#buttonEnd {
    margin-left: 8px;
}

#scoreFinal {
    text-align: left;
    margin-bottom: 0;
}

#divButton {
    display: table;
}

#divButton button {
    width: 100%;
    text-align: left;
}

button /*assgns button style*/
{
    background-color: darkblue;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px 5px;
    margin-left: 0px;
}

button:hover {/*assigns button hover*/
    transition-duration: 0.3s;
    background-color: rgb(190, 85, 190);
}
