/*timer placement and color*/
.right #timer {
    float: right;
    color: darkblue;  
}

/*view high scores button placement and color*/
.left #viewHighScores h4 {
    float: left;
    color: rgb(190, 85, 190);
    margin-top: 0;
}

#nav {
    text-align: center;
    line-height: initial;
    align-items: center;
    height: inherit;
    background-color: red;
}

/*main page section*/
body {
    background-color: #e7dfe1;
    font-family: Arial, Helvetica, sans-serif;
}

/*centering and aligning the quiz*/
#content {
    text-align: center;
    padding: 8%;
}

button 
{
    background-color: darkblue;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}

button:hover {
    transition-duration: 0.3s;
    background-color: rgb(190, 85, 190);
}
